*{
    
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
    box-sizing: border-box;
}
body {
    display: flex;
  justify-content: center;  /* מרכז אופקית */
  align-items: center;      /* מרכז אנכית */
  min-height: 100vh;        /* גובה כל המסך */
  background-image: url("./source/Gemini_Generated_Image_m9d5lvm9d5lvm9d5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}
    #loginBtn1,
#signupBtn1, #loginBtn,
#signupBtn{
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #dacc7efd;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    margin: 0.5rem;
}

#loginBtn:hover,
#signupBtn:hover {
    background-color: #ceb945fd;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

#loginBtn:active,
#signupBtn:active {
    transform: translateY(0);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
 
  html {
    scroll-behavior: smooth;
  }
  section {
    max-width: 400px;
    margin:  auto;      /* מרכז את הריבוע במסך */
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);  /* רקע כהה שקוף */
    border: 2px solid #fff;   /* מסגרת לבנה */
    border-radius: 15px;      /* פינות מעוגלות */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* צל */
  }
  section form {
    text-align: left;
  }
  
  section form label {
    display: block;
    margin-top: 10px;
  }
  
  section form input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border-radius: 6px;
    border: none;
  }
  
  section form button {
    margin-top: 20px;
    width: 100%;
  }
   #addBookForm input {
    display: block;
    margin: 0.5em 0;
    padding: 0.5em;
    width: 200px;
  }

  button {
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  .bookCard {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
  }

  .bookCard button {
    margin: 5px;
  }